# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
pip-wheel-metadata/
*.egg-info/

# Jupyter / logs / temp
.ipynb_checkpoints/
*.log
*.tmp
*.swp

# IDE
.idea/
.vscode/

# Build/artifacts
dist/
build/

# Local data exports (adjust to your workflow)
*.csv
*.xlsx
*.bmerawdata
*.bmelabelinfo
*.udf
